@model TableViewModel<ChampionViewModel>

<div id="statusMessage"></div>
<div id="tablePartial">
    <div>
        <form asp-area="Statistics" asp-controller="Champion" asp-action="Filter"
              asp-route-pageNumber="1" asp-route-sortOrder="@Model.Pagination.SortOrder" asp-route-searchTerm="@Model.Pagination.SearchTerm"
              method="get" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#tablePartial">
            <label>Page size:</label>
            <input name="pageSize" class="form-control" value="@Model.Pagination.PageSize" type="number" min="1" max="50" style="width:5em;" />
        </form>
    </div>
    <div>
        <table class="table tablesorter">
            <thead class="text-primary">
                <tr>
                    <th>
                        <a asp-area="Statistics" asp-controller="Champion" asp-action="Filter"
                           asp-route-pageNumber="1" asp-route-pageSize="@Model.Pagination.PageSize"
                           asp-route-searchTerm="@Model.Pagination.SearchTerm" asp-route-sortOrder="@(Model.Pagination.SortOrder.Equals("name_asc") ? "name_desc" : "name_asc")"
                           method="get" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#tablePartial"><b>Champion Name</b></a>
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var champion in Model.Items)
                {
                    <tr>
                        <td>@champion.Name</td>
                        <td>
                            <img src="@champion.ImageURL" class="center" style="height:5em;width:auto">
                        </td>
                        <td>
                            <div class="dark-theme">
                                <a class="page-link" asp-area="Statistics" asp-controller="Champion" asp-action="Details" asp-route-id="@champion.Id">Details</a>
                            </div>
                        </td>
                    </tr>
                }
                <tr>
                    <td width="50%">
                        @await Html.PartialAsync("_PaginationPartial", Model.Pagination)
                    </td>
                    <td>
                        @if (User.IsInRole("Administrator"))
                        {
                            <div class="dark-theme">
                                <a asp-area="Administration" asp-controller="Rebase" asp-action="Champions" class="page-link"
                                   method="get" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#statusMessage">Rebase</a>
                            </div>
                        }
                    </td>
                    <td>
                        <div class="dark-theme">
                            <form>
                                <a asp-area="Statistics" asp-controller="League" asp-action="Download" class="page-link"
                                   asp-route-pageNumber="@Model.Pagination.PageNumber" asp-route-pageSize="@Model.Pagination.PageSize"
                                   asp-route-searchTerm="@Model.Pagination.SearchTerm" asp-route-sortOrder="@(Model.Pagination.SortOrder.Equals("name_asc") ? "name_desc" : "name_asc")">Download Page</a>
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>

</div>