@using ESportStatistics.Web.Areas.Statistics.Models.Series

@model TableViewModel<SerieViewModel>

<div id="tablePartial">
    <div>
        <table class="table tablesorter">
            <thead class="text-primary">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Year
                    </th>
                    <th>
                        Begins At
                    </th>
                    <th>
                        Ends At
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var serie in Model.Items)
                {
                <tr>
                    <td>@serie.FullName</td>
                    <td>@serie.Season</td>
                    <td>@serie.BeginAt</td>
                    <td>@serie.EndAt</td>
                    <td>
                        <div class="dark-theme">
                            <a class="page-link" asp-area="Statistics" asp-controller="Serie" asp-action="Details" asp-route-id="@serie.Id">Details</a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    @await Html.PartialAsync("_PaginationPartial", Model.Pagination)
</div>