@model DetailsViewModel
@{
    ViewData["Title"] = "User Details";
}
<h2>Users Administration</h2>

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5 class="title">User Information</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5 pr-md-1">
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" type="email" class="form-control" value="@Model.Email" disabled>
                        </div>
                    </div>
                    <div class="col-md-3 px-md-1">
                        <div class="form-group">
                            <label asp-for="Username"></label>
                            <input asp-for="Username" type="text" class="form-control" value="@Model.Username" disabled>
                        </div>
                    </div>
                    <div class="col-md-4 pl-md-1">
                        <div class="form-group">
                            <label asp-for="PhoneNumber"></label>
                            <input asp-for="PhoneNumber" type="tel" class="form-control" value="@Model.PhoneNumber" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-md-1">
                        <div class="form-group">
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" type="text" class="form-control" value="@Model.FirstName" disabled>
                        </div>
                    </div>
                    <div class="col-md-6 pl-md-1">
                        <div class="form-group">
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" type="text" class="form-control" value="@Model.LastName" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Address"></label>
                            <input asp-for="Address" type="text" class="form-control" value="@Model.Address" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 pr-md-1">
                        <div class="form-group">
                            <label asp-for="City"></label>
                            <input asp-for="City" type="text" class="form-control" value="@Model.City" disabled>
                        </div>
                    </div>
                    <div class="col-md-4 px-md-1">
                        <div class="form-group">
                            <label asp-for="Country"></label>
                            <input asp-for="Country" type="text" class="form-control" value="@Model.Country" disabled>
                        </div>
                    </div>
                    <div class="col-md-4 pl-md-1">
                        <div class="form-group">
                            <label asp-for="PostalCode"></label>
                            <input asp-for="PostalCode" type="number" class="form-control" value="@Model.PostalCode" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>About Me</label>
                            <textarea asp-for="Story" rows="4" cols="80" class="form-control" value="@Model.Story" disabled></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            @await Html.PartialAsync("_UserRolePartial", Model.UserRole)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-user">
            <div class="card-body">
                <p class="card-text">
                    <div class="author">
                        <div class="block block-one"></div>
                        <div class="block block-two"></div>
                        <div class="block block-three"></div>
                        <div class="block block-four"></div>
                        <a href="javascript:void(0)">
                            @{
                                if (Model.AvatarImage != null)
                                {
                                    var base64 = Convert.ToBase64String(Model.AvatarImage);
                                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                    <img src="@imgSrc" class="avatar" alt="Default avatar" />
                                }
                                else
                                {
                                    <img src="~/images/default-profile.png" class="avatar" alt="Default avatar" />
                                }
                            }
                            <h5 class="title">@Model.Username</h5>
                        </a>
                    </div>
                </p>
                <div class="card-description">
                    @Model.Story
                </div>
            </div>
            <div class="card-footer">
                <div class="button-container">
                    <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
                        <i class="fab fa-facebook"></i>
                    </button>
                    <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
                        <i class="fab fa-twitter"></i>
                    </button>
                    <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
                        <i class="fab fa-google-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>